{% load general_tags %}
    {% for attribute in attribute_list %}
        {% if field_description|hash:attribute|hash:'type' == 'text' %}
            {% include "app/components/text_field.html" %}
        {% elif field_description|hash:attribute|hash:'type' == 'textarea' %}
            {% include "app/components/text_area.html" %}
        {% elif field_description|hash:attribute|hash:'type' == 'date' %}
            {% include "app/components/datetime.html" %}
        {% elif field_description|hash:attribute|hash:'type' == 'image' %}
            {% include "app/components/image.html" %}
        {% elif field_description|hash:attribute|hash:'type' == 'multiselect' %}
            {% include "app/components/multi_select.html" %}
        {% endif %}
{% endfor %}