{% extends "app/base.html" %}
{% load general_tags %}
{% block main %}
{{ block.super }}
<div id="alert_div">
</div>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/moderation/list" data-ol-has-click-handler="">Home</a></li>
    <li class="breadcrumb-item"><a id="entity_breadcrumb" href="/moderation/list?entity_id={{ entity_id }}" data-ol-has-click-handler="">{{ entity_name }}</a></li>
    <li class="breadcrumb-item active">Data</li>
</ol>
<form action="/moderation/collect-detail/" enctype="multipart/form-data" id="detail-form" method="post"
      name="detail-form">
    <input type="hidden" name="unique_id" value="{{ field_value.unique_id }}">
    <div class="accordion" id="accordionExample">
        {% for raw in detail_view %}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0 align-content-end">
                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                            data-target="#collapseOne"
                            data-toggle="collapse" type="button">
                        {{ raw.0 }}
                    </button>
                </h5>
            </div>

            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
                <div class="card-body">
                    <div class="form-row">
                        {% with attribute_list=raw.1.fields full_width=False parent_id=False id=False %}
                            {% include "app/common_render.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not field_value.is_moderation_done %}
    <button class="btn btn-primary btn-lg btn-block" id="submit-form" type="button">Submit</button>
    {% endif %}
</form>
{% endblock main %}
