{% extends "app/base.html" %}
{% load general_tags %}
{% block main %}
{{ block.super }}
<form action="/moderation/collect-detail/" enctype="multipart/form-data" id="detail-form" method="post"
      name="detail-form">
    <div class="accordion" id="accordionExample">
        {% for raw in detail_view %}
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0 align-content-end">
                    <button aria-controls="collapseOne" aria-expanded="true" class="btn btn-link"
                            data-target="#collapseOne"
                            data-toggle="collapse" type="button">
                        {{ raw.0 }}
                    </button>
                </h5>
            </div>

            <div aria-labelledby="headingOne" class="collapse show" data-parent="#accordionExample" id="collapseOne">
                <div class="card-body">
                    <div class="form-row">
                        {% with attribute_list=raw.1.fields full_width=False parent_id=False id=False %}
                            {% include "app/common_render.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <button class="btn btn-primary btn-lg btn-block" id="submit-form" type="button">Submit</button>
</form>
{% endblock main %}
