{% extends "app/base.html" %}
{% block main %}
{{ block.super }}
<div class="container col-lg-11">
    <div class=" clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="header">
                    <h4 id="navbars">Events</h4>
                </div>
                <div class="bs-component">
                    <table class="table table-bordered" id="example">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Event name</th>
                            <th scope="col">Event Status</th>
                            <th scope="col">Event Category</th>
                            <th scope="col">Event City</th>
                            <th scope="col">Event Country</th>
                            <th scope="col">Event Source</th>
                            <th scope="col">Details</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Sunburn Fest 2020</td>
                            <td>Pending</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">2</th>
                            <td>Event 2</td>
                            <td>Re verification</td>
                            <td>Outdoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">1</th>
                            <td>Other events</td>
                            <td>Pending</td>
                            <td>indoor</td>
                            <td>Bangalore</td>
                            <td>India</td>
                            <td>Hotel</td>
                            <td>
                                <button class="btn btn-primary">Go to Details</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}