{% extends "app/base.html" %}
{% load general_tags %}
{% block main %}
{{ block.super }}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" data-ol-has-click-handler="">Home</a></li>
    <li class="breadcrumb-item active">{{ active_entity.entity_name }}</li>
</ol>
<div class="col-md-12">
    <div class="clearfix">
        <div class="row">
            <div class="col-lg-12">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'pending' %} active {% endif %}" data-toggle="tab" href="#pending">Pending</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if active_tab == 'moderated' %} active {% endif %}" data-toggle="tab" href="#moderated">Moderated</a>
                    </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade  {% if active_tab == 'pending' %} active {% endif %} show bs-component" id="pending">
                        {% include "app/components/filters.html" %}
                        {% with page_obj=pending_page_obj%}
                            {% include "app/components/pending_list_view.html" %}
                        {% endwith %}
                    </div>
                    <div class="tab-pane fade  {% if active_tab == 'moderated' %} active {% endif %} show bs-component" id="moderated">
                        {% include "app/components/filters.html" %}
                        {% with page_obj=moderated_page_obj %}
                            {% include "app/components/moderated_list_view.html" %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock main %}