<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" data-ol-has-click-handler="" href="/moderation/list">
        <img src="/static/icon-1.png"  alt="">
        Moderation Panel
    </a>
    <button aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarColor03" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            {% for nav_tabs in nav_bar %}
            <li class="nav-item {% if nav_tabs.active %} active {% endif %}">
                <a class="nav-link" data-ol-has-click-handler=""
                   href="/moderation/list?entity_id={{ nav_tabs.entity_id }}">{{ nav_tabs.entity_name }}</a>
            </li>
            {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <div id="user-tools">
                {% block welcome-msg %}
                <strong class="text-white">Welcome, {% firstof user.get_short_name user.get_username %}</strong>.
                {% endblock %}
                {% block userlinks %}
                {% if site_url %}
                <a href="{{ site_url }}">View site</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                <a href="{{ docsroot }}">Documentation</a> /
                {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">Change password</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">Log out</a>
                {% endblock %}
            </div>
        </form>
    </div>
</div>

