<script src="/static/moderation/js/jquery-3.4.1.js"></script>
<script src="/static/moderation/js/npm_popper.js@1.16.0_dist_umd_popper.js"></script>
<script src="/static/moderation/js/bootstrap_4.4.1_js_bootstrap.js"></script>
<script src="/static/moderation/js/1.10.20_js_jquery.dataTables.js"></script>
<script src="/static/moderation/js/1.10.20_js_dataTables.bootstrap4.js"></script>
<script src="/static/moderation/js/serializeToJSON.js"></script>
<script src="/static/moderation/js/bootstrap-toggle_2.2.2_js_bootstrap-toggle.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#example').DataTable({
                ordering: true,
            }
        );
    });

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $("#submit-form").click(function () {
        if (document.forms['detail-form'].reportValidity()) {
            var form = $(this).closest("form");
            var obj = $("#detail-form").serializeToJSON({});
            document.forms['detail-form'].reportValidity();
            var jsonString = JSON.stringify(obj);
            $.ajax({
                url: form.attr("action"),
                method: 'POST',
                data: jsonString,
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {
                    if (data.is_taken) {
                        alert(data.error_message);
                    }
                }
            });
        } else {
            alert("Please Correct Error Below.");
            document.forms['detail-form'].reportValidity();
        }

    });


</script>