{% load general_tags %}
<div class="form-group {% if not full_width %} col-md-3 {% endif %}">
    <label for="{{attribute}}" class="col-sm-6 col-form-label">{{ field_description|hash:attribute|hash:'label' }}</label>
    <div class="col-sm-10">
        <select class="custom-select" id="{{attribute}}" name="{{attribute}}"
                required
                {% if field_value.is_moderation_done %} disabled {% endif %}
                onchange="toggle_reject_reason(this);"
        >
            <option selected value="">Select Action</option>
            <option value="approve" {% if field_value.moderation_status == 'approve' %} selected {% endif %} >
                Approve
            </option>
            <option value="reject" {% if field_value.moderation_status == 'reject' %} selected {% endif %}>
                Reject
            </option>
        </select>
    </div>
</div>