{% if active_entity.filter_attributes %}
<div class="row col-sm-12 mr-sm-12 justify-content-md-around">
    <form class="form-inline my-1 my-lg-3" action="{{ request.path }}" method="post">
        {% csrf_token %}
        <input class="form-control mr-sm-2" type="hidden" name="entity_id" value="{{ active_entity.entity_id }}">

        <label for="from_date" class="mr-sm-2">From date:</label>
        <input type="date" class="form-control mr-sm-2" id="from_date" name="from_date">

        <label for="to_date" class="mr-sm-2">To date:</label>
        <input type="date" class="form-control mr-sm-2" id="to_date" name="to_date">

        {% for filter_attr in active_entity.filter_attributes %}
        <input class="form-control mr-sm-2" type="text" placeholder="Search for {{filter_attr}}" name="{{filter_attr}}">
        {% endfor %}
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
{% endif %}