{% load general_tags %}
<div class="card-deck mx-2">
    {% for obj_id in context_field_value %}
            <div class="card border-secondary" style="width: 18rem;">
                <img data-enlargable style="cursor: zoom-in; height: 230px; width: 100%; display: block;" data-holder-rendered="true" src="{% get_field_value field_value attribute 'new_value' parent_id obj_id %}" class="card-img-top" alt="" name="{{attribute}}.{{i}}.url">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text text-secondary">Some quick example text to build on the card title and make up
                        the bulk
                        of the card's content.</p>
                    {% if field_description|hash:attribute|hash:'moderable' %}
                        {% with full_width=True %}
                            {% include "app/components/moderation_select.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if field_description|hash:attribute|hash:'child_attr' is not None  %}
                        {% with attribute_list=field_description|hash:attribute|hash:'child_attr' parent_id=obj_id full_width=True %}
                            {% include "app/common_render.html" %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
    {% endfor %}
</div>
