{% load general_tags %}
{% if field_description|hash:attribute|hash:'multiple' %}
<div class="card-deck">
    {% for i in field_value|hash:attribute %}
            <div class="card" style="width: 18rem;">
                <img data-enlargable style="cursor: zoom-in; height: 200px; width: 100%; display: block;" data-holder-rendered="true" src="{{ field_value|hash:attribute|hash:i|hash:'new_value' }}" class="card-img-top" alt="" name="{{attribute}}.{{i}}.url">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up
                        the bulk
                        of the card's content.</p>
                    {% if field_description|hash:attribute|hash:'moderable' %}
                        {% with full_width=True %}
                            {% include "app/components/moderation_select.html" %}
                        {% endwith %}
                    {% endif %}
                    {% if field_description|hash:attribute|hash:'child_attr' is not None  %}
                        {% with attribute_list=field_description|hash:attribute|hash:'child_attr' full_width=True %}
                            {% include "app/common_render.html" %}
                        {% endwith %}
                    {% endif %}
                </div>
            </div>
    {% endfor %}
</div>
{% endif %}