{% load general_tags %}
{% for obj_id in context_field_value %}
{% get_field_label field_description attribute 'label' parent_label obj_id as field_label %}
        {% if parent_id %}
            <input type="hidden" name="{% get_parent_field_name attribute parent_id obj_id %}" value="{{parent_id}}">
        {% endif %}
        <div class="form-group {% if not full_width %} col-md-3 {% endif %}">
        <label for="{% get_field_id attribute parent_id obj_id %}" class="col-sm-12 col-form-label">{{ field_label }}</label>
        {% get_field_choices field_description attribute as field_choices %}
        {% get_field_selected_value field_value selected_field_value attribute as selected_list%}
            <div class="col-sm-11">
            <select
                    class="custom-select"
                    id="{% get_field_id attribute parent_id obj_id %}"
                    name="{% get_field_name attribute parent_id obj_id %}"
                    {% if not field_description|hash:attribute|hash:'editable' or field_value.is_moderation_done %} disabled {% endif %}
            >
                {% for key, values in field_choices.items %}
                <option value={{ key }} {% if key in selected_list %} selected {% endif %}>{{ values }}</option>
                {% endfor %}
            </select>
            </div>
    </div>


{% if field_description|hash:attribute|hash:'moderable' %}
    {% include "app/components/moderation_select.html" %}
{% endif %}

{% if field_description|hash:attribute|hash:'child_attr' is not None  %}
    {% with attribute_list=field_description|hash:attribute|hash:'child_attr' parent_id=obj_id parent_label=field_label %}
        {% include "app/common_render.html" %}
    {% endwith %}
{% endif %}
{% endfor %}
