{% load general_tags %}
<div class="form-group {% if not full_width %} col-md-3 {% endif %}">
    <label for="{{attribute}}{% if parent_id %}.{{parent_id}}{% endif %}{% if id %}.{{id}}{% endif %}"
           class="col-sm-6 col-form-label">{{ field_description|hash:attribute|hash:'label' }}</label>
    <div class="col-sm-10">
        <input type="text"
               class="form-control"
               placeholder="None"
               id="{{attribute}}{% if parent_id %}.{{parent_id}}{% endif %}{% if id %}.{{id}}{% endif %}"
               name="{{attribute}}{% if parent_id %}.{{parent_id}}{% endif %}{% if id %}.{{id}}{% endif %}.value"
               value="{% if field_value|hash:attribute and field_value|hash:attribute|hash:'new_value' %}{{ field_value|hash:attribute|hash:'new_value' }}{% endif %}"
               {% if not field_description|hash:attribute|hash:'editable' %} readonly {% endif %}"
        >
        {% if field_value|hash:attribute and field_value|hash:attribute|hash:'meta_data' %}
            <small id="emailHelp" class="form-text text-muted">help text
                else.</small>
        {% endif %}
    </div>
</div>
{% if field_description|hash:attribute|hash:'moderable' %}
    {% include "app/components/moderation_select.html" %}
{% endif %}

{% if field_description|hash:attribute|hash:'child_attr' is not None  %}
    {% with attribute_list=field_description|hash:attribute|hash:'child_attr' parent_id=1 id=2 %}
        {% include "app/common_render.html" %}
    {% endwith %}
{% endif %}