{% load general_tags %}
<div class="card-deck col-md-11">
{% for obj_id in context_field_value %}
    {% get_field_label field_description attribute 'label' parent_label obj_id as field_label %}
        {% if parent_id %}
            <input type="hidden" name="{% get_parent_field_name attribute parent_id obj_id %}" value="{{parent_id}}">
        {% endif %}
<div class="form-group col-md-6">
    <div class="card border-secondary">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" controls>
                 <source src="{{ field_value|hash:attribute|hash:'new_value' }}">
            </video>
        </div>
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text text-secondary">{{ field_label }}</p>
            {% if field_description|hash:attribute|hash:'moderable' %}
                {% with full_width=True %}
                    {% include "app/components/moderation_select.html" %}
                {% endwith %}
            {% endif %}
            {% if field_description|hash:attribute|hash:'child_attr' is not None  %}
                {% with attribute_list=field_description|hash:attribute|hash:'child_attr' parent_id=obj_id full_width=True parent_label=field_label %}
                    {% include "app/common_render.html" %}
                {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
</div>