{% load general_tags %}
<div class="form-group col-md-6">
    <div class="card">
        <div class="embed-responsive embed-responsive-16by9">
            <video class="embed-responsive-item" style="object-fit : cover" controls>
                 <source src="{{ field_value|hash:attribute|hash:'new_value' }}">
            </video>
        </div>
        <div class="card-body">
<!--            <h5 class="card-title">Caption</h5>-->
<!--            <p class="card-text">{{ field_value|hash:'caption'|hash:'new_value' }}</p>-->
            {% if field_description|hash:attribute|hash:'is_moderable' %}
            <label for="moderable_{{attribute}}">Accept/Reject</label>
            <div class="form-group">
                <select class="custom-select" id="moderable_{{attribute}}" name="{{attribute}}.{{i}}.value">
                    <option selected="">None</option>
                    <option value="1">Accept</option>
                    <option value="2">Reject</option>
                </select>
            </div>
            {% endif %}
            {% if field_description|hash:attribute|hash:'child_attr' is not None  %}
            {% with attribute_list=field_description|hash:attribute|hash:'child_attr' full_width=True %}
            {% include "app/common_render.html" %}
            {% endwith %}
            {% endif %}
        </div>
    </div>
</div>
